@import url(http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,700);

@import 'mixins/reset';
@import 'mixins/lanes';
@import 'mixins/material-design-colors';
//@import 'mixins/diagnostics';

$body-font-stack: 'Lato', Tahoma, Geneva, sans-serif;
$header-font-stack: "Lustria", Cambria, Georgia, serif;

$bounceInOut: cubic-bezier(1,-1.25,0,1.75);
$linear-gradient: linear-gradient(#b4d7d9, #eccfbd);
$background-fallback: #b4d7d9;
$skills-background: #e0e0e0;




::selection {
  background: $red500;
  color: $grey50;
}


html {
  font-size: 18px;
}

body {
  background: $background-fallback;
  background: $linear-gradient;
  color: $grey900;
  font-family: $body-font-stack;
  font-size: 1rem;
  line-height: 1.5;
  transition: background 1.5s;
}

header {
  background: $red500;
  overflow: hidden;
  text-align: center;
}

footer {
  background: $red500;
  color: $grey50;
  font-size: 1.4rem;
  padding: 10px 0;
  text-align: center;
}

section.container,
footer {
  margin-top: 5rem;
}






/* ==========================================================================
   Font Edits
   ========================================================================== */


h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
}

h2 {
  font-family: $header-font-stack;
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-family: $header-font-stack;
  font-size: 1.5rem;
}

p {
  margin: 1rem 0;

  &:first-child {
    margin: 0 0 1rem;
  }
}

b {
  font-weight: 700;
}






/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: inherit;
  text-decoration: none;
}

.row a {
  color: $grey900;
  font-weight: 700;
  transition: color .7s;

  &:hover {
    color: $red500;
  }
}







/* ==========================================================================
   Main Sections
   ========================================================================== */

/* Header */
.headerlogo {
  animation: fadeInUp 1s forwards $bounceInOut;
  height: 100px;
  opacity: 0;
  transform: translateY(100px);
  width: 100px;
}

@keyframes fadeInUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





/* SSBD */

div.SSBD p {
  padding: 10px;
}

div.SSBD p:nth-of-type(even) {
  background: rgba(100, 100, 100, 0.15);
}






/* Headline Section */

.coding-links {
  font-size: 2rem;

  a {
    margin-right: 2rem;
  }
}


/* Responsive Banner */
.responsive-banner {
  text-align: center;
}


/* Skills */

dt::after {
  background-color: $skills-background;
  content: "";
  display: block;
  height: 0.5rem;
  width: 100%;
}

.skill-percent {
  font-size: 0;
  height: .5rem;
  position: relative;
  top: -.5rem;
  transition: all 2s $bounceInOut;
  width: 0;
}

// loop for adding transition delay to each skill
@for $i from 1 through 11 {
  .skills dd:nth-of-type(#{$i}) {
    transition-delay: .15 * $i + s;
  }
}

.html {
  background: $red600;
}

.css {
  background: $blue500;
}

.jquery {
  background: $amber400;
}

.scss {
  background: $pink300;
}

.javascript {
  background: $amber700;
}

.wordpress {
  background: $blue800;
}

.git {
  background: $red500;
}

.node {
  background: $green400;
}

.ruby {
  background: $red500;
}

.php {
  background: $indigo700;
}

.react {
  background: $blue400;
}





/* Projects */
/* 1, added display block to a tags with images for older iPad/iPhone support -
  http://stackoverflow.com/questions/24968255/specific-links-not-clickable-on-older-iphone-ipad
*/
/* 2, added translateZ(0) for smoother animations */

.projects .title {
  border-bottom: 1px solid $grey900;
}

.projects h4 {
  font-style: italic;
}

.projects_images {
  margin: 10px 0;
  overflow: hidden;
  background: $grey900;

  & a {
    display: block; /*[1]*/
  }
}

.projects img {
  transition: all 0.5s;
  transform: translateZ(0); /*[2]*/

  &:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
}




/* Coming Soon */

.coming-soon {
  p,
  li {
    background: linear-gradient($grey400 50%, transparent 50%);
    background-size: 1rem 3rem;
    height: 14rem;
    margin: 1rem 0;
  }
}






/* ==========================================================================
   Images
   ========================================================================== */







/* ==========================================================================
   Nav Bar
   ========================================================================== */

.nav-main {
  background: #272727;
  padding: 20px 0;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.25);
  & a {
    font-weight: 700;
    color: $grey50;
    padding: 24px 30px;
    text-decoration: none;
    transition: background 0.5s, border-top 0.7s;
    &:hover, &.active {
      background: #550106;
    }
  }
}






/* ==========================================================================
   Pop Out Menu
   ========================================================================== */

.nav-menu {
  background: #272727;
  left: -250px;
  /* start off behind the scenes */

  top: 0;
  height: 100%;
  position: fixed;
  width: 200px;
  font-size: 20px;
  border-right: 2px solid white;
  z-index: 300;
}

.icon-close {
  border-bottom: 1px solid #636366;
  cursor: pointer;
  padding: 10px 0 0 10px;
  transition: margin 1s;
}

.icon-close:hover {
  margin: 0 0 0 10px;
}

.nav-menu a {
  border-bottom: 1px solid #636366;
  color: $grey50;
  padding: 0 20px;
  line-height: 45px;
  transition: margin 1s;
  text-decoration: none;
  display: block;
}

.nav-menu a:hover {
  margin: 0 0 0 10px;
}







/* ==========================================================================
   Icons
   ========================================================================== */
/* Codepen & Github Icons in Hero Section */

.coding-links {
  animation: 2s bounce infinite;
}

.coding-links:hover {
  animation-play-state: paused;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0px);
  }
}


/* Social-Icons */

.social-icons i {
  font-size: 2rem;
  margin: 2rem;
  transition: all 0.3s;
}

.social-icons i:hover {
  transform: translateY(-10px);
}







/* ==========================================================================
   Contact Form
   ========================================================================== */

.contact form {
  border: 2px solid $grey600;
  margin: 0 auto 0 auto;
  padding: 20px;

  div {
    margin: 0 0 10px 0;
  }

  label {
    display: block;
    margin: 0 0 5px 0;
    font-weight: 700;
    text-align: left;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    background: transparent;
    border: 2px solid $grey600;
    margin-bottom: 10px;
    padding: 10px 15px;
    transition: all .5s;
    width: 100%;
  }

  input:focus,
    textarea:focus {
    outline: $red500 solid thin;
  }

  textarea {
    background: transparent;
    border: 2px solid $grey600;
    color: $grey900;
    height: 120px;
    padding: 10px;
    resize: vertical;
    transition: all .5s;
    width: 100%;
  }

  .submit-button {
    background: $red500;
    border: 0;
    color: $grey50;
    cursor: pointer;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 auto;
    outline: none;
    padding: 10px 20px;
    transition: all .5s;

    &:hover {
      opacity: .7;
    }
  }

  .error-message {
    background: $red500;
    color: $grey50;
    opacity: 0;
    padding: 1rem;
    transform: translate(-100px.0);
    transition: all .7s;

    &.active {
      opacity: 1;
      transform: translate(0);
    }

    i {
      margin-right: 1rem;
    }
  }
}







/* ==========================================================================
   EDITS
   ========================================================================== */

.arrow-up {
  background: #21252b;
  bottom: 30px;
  color: $grey50;
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0;
  padding: 10px 15px;
  position: fixed;
  right: 20px;
  transform: translateZ(0);
  transition: all .7s;
  visibility: hidden;


  &.arrow-active {
    bottom: 20px;
    opacity: 1;
    visibility: visible;
  }
}

.hide-svg {
  display: none;
}






/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  background: $grey300;
  color: $grey900;
  margin: .2em 0;
  padding: 10px 0;
  text-align: center;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 550px) {
  .container {
    padding: 1rem;
  }

  .coding-links {
    text-align: center;
  }
}
