@import url(http://fonts.googleapis.com/css?family=Lustria|Lato:300,400,700);

@import 'mixins/reset';
@import 'mixins/lanes';
@import 'mixins/material-design-colors';

$body-font-stack: 'Lato', Tahoma, Geneva, sans-serif;
$header-font-stack: 'Lustria';

$bounceInOut: cubic-bezier(1,-1.25,0,1.75);




::selection {
  background: $red500;
  color: $grey50;
}


html {
  font-size: 18px;
}

body {
  font-family: $body-font-stack;
  font-size: 1rem;
  line-height: 1.5;
  color: $grey900;
  background: #b4d7d9 url(/images/blurry-background.jpg)no-repeat center center;
  /* fallback for older browsers */
  background-size: cover;
  background: linear-gradient(#b4d7d9, #eccfbd);
  transition: background 1.5s;
}

header {
  background: $red500;
  text-align: center;
  overflow: hidden;
}

footer {
  font-size: 1.4rem;
  background: $red500;
  color: $grey50;
  text-align: center;
  padding: 10px 0 10px 0;
}

section.container , footer {
  margin-top: 5rem;
}






/* ==========================================================================
   Font Edits
   ========================================================================== */


h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
}

h2 {
  font-size: 2.5rem;
  font-family: $header-font-stack;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-family: $header-font-stack;
}

p {
  margin: 1rem 0;
  &:first-child {
    margin: 0 0 1rem 0;
  }
}

b {
  font-weight: 700;
}






/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: inherit;
  text-decoration: none;
}

.row a {
  font-weight: 700;
  color: $grey900;
  transition: color 0.7s;
}

.row a:hover {
  color: $red500;
}







/* ==========================================================================
   Main Sections
   ========================================================================== */
/* GLOBAL */

.hero {
}





/* Header */
.headerlogo {
  max-width: 100px;
  transform: translateY(100px);
  opacity: 0;
  animation: fadeInUp 1s forwards $bounceInOut;
}

@keyframes fadeInUp {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}





/* SSBD */

div.SSBD p {
  padding: 10px;
}

div.SSBD p:nth-of-type(even) {
  background: rgba(100, 100, 100, 0.15);
}






/* Headline Section */

.coding-links {
  font-size: 2rem;
  & a {margin-right: 2rem;}
}


/* Responsive Banner */
.responsive-banner {
  text-align: center;
}


/* Skills */

dt:after {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.5rem;
  content: "";
  display: block;
}

.skill-percent {
  background: red;
  width: 0;
  height: 0.5rem;
  position: relative;
  top: -0.5rem;
  font-size: 0;
  transition: all 1s $bounceInOut;
}

// loop for adding transition delay to each skill 
@for $i from 1 through 8 {
  .skills dd:nth-of-type(#{$i}) {
    transition-delay: 0.15 * $i + s;
  }
}

.html {
  background: $red600;
}

.css {
  background: $blue500;
}

.jquery {
  background: $amber400;
}

.scss {
  background: $pink300;
}

.javascript {
  background: $amber700;
}

.node {
  background: $red700;
}

.ruby {
  background: $red500;
}

.php {
  background: $indigo700;
}





/* Projects */
/* 1, added translateZ(0) for smoother animations */

.projects .title {
  border-bottom: 1px solid $grey900;
}

.projects h4 {
  font-style: italic;
}

.projects_images {
  margin: 10px 0;
  overflow: hidden;
  background: $grey900;
}

.projects img {
  transition: all 0.5s;
  transform: translateZ(0); /*[1]*/
}

.projects img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}




/* Coming Soon */

.coming-soon {
  & p, & li {
    height: 14rem;
    background: linear-gradient($grey400 50%, transparent 50%);
    background-size: 1rem 3rem;
    margin: 1rem 0;
  }
}






/* ==========================================================================
   Images
   ========================================================================== */







/* ==========================================================================
   Nav Bar
   ========================================================================== */

.nav-main {
  background: #272727;
  padding: 20px 0;
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.25);
  & a {
    font-weight: 700;
    color: $grey50;
    padding: 24px 30px;
    text-decoration: none;
    transition: background 0.5s, border-top 0.7s;
    &:hover, &.active {
      background: #550106;
    }
  }
}






/* ==========================================================================
   Pop Out Menu
   ========================================================================== */

.nav-menu {
  background: #272727;
  left: -250px;
  /* start off behind the scenes */
  
  top: 0;
  height: 100%;
  position: fixed;
  width: 200px;
  font-size: 20px;
  border-right: 2px solid white;
  z-index: 300;
}

.icon-close {
  border-bottom: 1px solid #636366;
  cursor: pointer;
  padding: 10px 0 0 10px;
  transition: margin 1s;
}

.icon-close:hover {
  margin: 0 0 0 10px;
}

.nav-menu a {
  border-bottom: 1px solid #636366;
  color: $grey50;
  padding: 0 20px;
  line-height: 45px;
  transition: margin 1s;
  text-decoration: none;
  display: block;
}

.nav-menu a:hover {
  margin: 0 0 0 10px;
}







/* ==========================================================================
   Icons
   ========================================================================== */
/* Codepen & Github Icons in Hero Section */

.coding-links {
  animation: 2s bounce infinite;
}

.coding-links:hover {
  animation-play-state: paused;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(0px);
  }
}


/* Social-Icons */

.social-icons i {
  font-size: 2rem;
  margin: 2rem;
  transition: all 0.3s;
}

.social-icons i:hover {
  transform: translateY(-10px);
}







/* ==========================================================================
   Contact Form
   ========================================================================== */

.contact form {
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin: 0 auto 0 auto;
  padding: 20px;

  & div {
    margin: 0 0 10px 0;
  }
  
  & label {
    display: block;
    margin: 0 0 5px 0;
    font-weight: 700;
    text-align: left;
  }
  & input[type="text"],
  & input[type="email"],
  & input[type="tel"] {
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: transparent;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    width: 100%;
    transition: all 0.5s;
  }
  & input:focus,
    textarea:focus {
    outline: $red500 solid thin;
  }
  
  & textarea {
    resize: vertical;
    padding: 10px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: transparent;
    color: $grey900;
    height: 120px;
    transition: all 0.5s;
  }
  
  & input[type="submit"] {
    background: $red500;
    border: none;
    outline: none;
    color: $grey50;
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: 0 auto 0 auto;
    transition: all .5s ease-in-out;
  }
  & input[type="submit"]:hover {
    opacity: 0.7;
    padding: 10px 30px;
  }

  & .error-message {
    background: $red500;
    color: $grey50;
    opacity: 0;
    padding: 1rem;
    transform: translate(-100px.0);
    transition: all 0.7s;
    &.active {
      opacity: 1;
      transform: translate(0);
    }
    & i {
      margin-right: 1rem;
    }
  }
}







/* ==========================================================================
   EDITS
   ========================================================================== */
   
.arrow-up {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  right: 20px;
  background: #21252b;
  color: $grey50;
  padding: 10px 15px;
  font-size: 1.5rem;
  transition: all 0.7s;
  transform: translateZ(0);
  cursor: pointer;


  &.arrow-active {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
  }
}

.hide-svg {
  display: none;
}






/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  text-align: center;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 10px 0 10px 0;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 550px) {
  body {}
  
  .container {
    padding: 1rem;
  }
  
  .coding-links {
    text-align: center;
  }
}
