@media only screen and (min-width: 2400px) {
  .project__item {
    max-height: none;
  }
}

@media only screen and (max-width: 1024px) {
  .project__item {
    min-height: 300px;

    &:nth-child(odd),
    &:nth-child(even) {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 601px) {
  .projects {
    @for $i from 1 through 10 {
      .animate:nth-child(#{$i}) {
        transition-delay: $animation-delay-timing;
      }

      $animation-delay-timing: $animation-delay-timing + .10;
    }
  }
}

@media only screen and (max-width: 600px) {
  .project__item {
    &:nth-child(odd),
    &:nth-child(even) {
      width: 100%;
    }
  }
}
