.hero-banner {
  @extend %overlay-hover;
  @include background-cover;
  align-items: center;
  background-image: url('./build/images/hero-banner-background.jpg');
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 60rem;

  &::before {
    background-color: rgba($body-background-color, .7);
    opacity: 1;
  }

  &__content {
    align-items: center;

    > * {
      &:first-child {
        padding-right: 2rem;
      }

      &:last-child {
        padding-left: 2rem;
      }
    }
  }
}

html:not(.iOS) .hero-banner {
  background-attachment: fixed;
}
