@media only screen and (max-width: 1024px) {
  .inner-content {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 600px) {
  .inner-content {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}
