* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
}

body {
  @include responsivetext(14, 16);
  background-color: $body-background-color;
  color: $body-color;
  font-family: $body-font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.4;
}

h1 {
  @include font-size(4);
  margin-bottom: 30px;
}

h2 {
  @include font-size(3);
  margin-bottom: 20px;
}

h3 {
  @include font-size(2.2);
  margin-bottom: 20px;
}

a {
  color: inherit;

  &:focus {
    outline: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.hide-svg {
  display: none;
}
